@model GestionCuentasCorrientesAgustinMartinez.Models.Cuenta

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles del movimiento de la Cuenta</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Importe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Importe)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdCliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdCliente)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Retornar</a>
</div>
